.outsideContainer{
    display:flex;
    padding: 10px;
}

.innerContainer{
    margin-left: 200px;
    margin-bottom: 200px;
}
.innerContainer h1{
    font-size: 90px;
}

.innerContainer p{
    text-align: center;
    font-size: 20px;
}
.buttonContainer{
    position: absolute;
    top:550px;
    right: 600px
}
